html, body {
	font-family: Arial, Helvetica, sans-serif;
	color: orange;
	width:  100%;
  	height: 100%;
  	margin: 0px;
  	padding: 0px;
	overflow: hidden;
	background-color: black;
}

div {
	top: 0%;
	position: absolute;
	overflow:hidden;
	clear: both;
}

canvas {display:block;}

#qr_code {width: 100%; height: 100%; opacity: 0; }
#qr_code_left{position: absolute; left: 10px; top: 45%; z-index: 5;  background-color: white; padding: 8px;}
#qr_code_right{ position: absolute; right: 10px; top: 45%; z-index: 5; background-color: white; padding: 8px;}
.qr_code_image{width:96px; height:96px;}

#left{left: 0%; opacity: 0; z-index: 1;}
#right{left: 50%; opacity: 0; z-index: 1;}
#full{left: 0%; opacity: 0; z-index: 2;}
#overlay_left{left: 0%; opacity: 0; z-index: 3;}
#overlay_right{left: 50%; opacity: 0; z-index: 3;}

#label_left{left: 0%;   z-index: 1;}
#label_right{left: 70%; z-index: 1;}
#label_overlay_left{left: 0%; z-index: 3;}
#label_overlay_right{left: 70%; z-index: 3;}

.label{top: 75%; height: 20%; width: 30%; background-color:black; opacity:0.75;}
.bkgrd{width: 100%; height: 100%; }
.title{padding: 0.8vh; margin: 0.8vh; font-size: 1.6vh; color:white;}
.author{padding: 0.8vh; margin: 0.8vh; top: 4vh; font-size: 1.4vh; font-style: italic; }
.caption{padding: 0.8vh; margin: 0.8vh; top: 8vh; font-size: 1.4vh;}

